table {
  width: 345px;
  height: 345px;
  border-collapse: collapse;
  border-spacing: 0;
}

th, td {
  width: 110px;
  height: 110px;
  border: solid black;
  text-align: center;
  padding-top: 0;
  padding-right: 0;
  padding-left: 0;
  padding-bottom: 0;
}

